
@charset "ISO-8859-1";
         .button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
         
  #elist {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 20px 34px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  
}

         

