
@charset "ISO-8859-1";
         #button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 30px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
         


  #elist, #rlist, #sadd {
  background-color: #1c87c9;
 width: 100%;
  color: white;
  padding: 20px 34px;
  text-decoration: none;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  
}



label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

input[type=checkbox]:checked + span{
  text-decoration: line-through;
}

#remove, #list, #add {display:none;}

#div1 {
width: 50%;
  margin: auto;
  background-color: 1c87c9;
}

#div2,#div3,#div4 {
width: 100%;
  margin: auto;
  border: 3px solid grey;
}

#menu {
	text-align: center;
}

ol{
	list-style-type: none;
	  margin: 0;
  padding: 0;
}

.even,.evenr{
	background-color: #b8d1f3;
}  

.odd,.oddr{
  background-color: #dae5f4;
  }
  
  .evenr:hover,.oddr:hover{
  border: 1px solid yellow;
  }
  
#addtext {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;

}
.addbuttons{

	float: left;
	margin-right: 5px;
	margin-top: 5px;
	position: relative;
	 cursor: pointer;
	

}





.listbuttons {
		float: left;
	margin-right: 5px;
	margin-top: 5px;
	 cursor: pointer;
	
	
}

#rbuttons {
	margin-top: 5px;
	 cursor: pointer;
}

  

  


